<header>
  <div class="container">
    <section class="logo">
      <a href="/">
        <strong>VR</strong>
        <span class="blue-dot"></span>
        <span class="blue-dot"></span>
        <span>Headsets</span>
      </a>
    </section>
    <nav>
      <ul>
        <li><a href="#about">About us</a></li>
        <li><a href="#best-sellers-section">Best Sellers</a></li>
        <li><a href="#newsletter-section">Newsletter</a></li>
        <li class="menu-icon">
          <img width="36" height="26" src="images/menu_icon.webp" />
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="hero" id="about">
  <picture>
    <source
      width="576"
      height="576"
      media="(max-width: 576px)"
      srcset="images/Hero_Mobile.webp"
    />
    <source
      width="960"
      height="770"
      media="(max-width: 960px)"
      srcset="images/Hero_Tablet.webp"
    />
    <img
      fetchpriority="high"
      width="1920"
      height="893"
      src="images/Hero_Desktop.webp"
    />
  </picture>

  <div class="hero-content">
    <div class="container">
      <h1>Discover our line of VR Headsets</h1>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium.
      </p>
      <button>View Headsets</button>
    </div>
  </div>
</section>

<section class="country-bar">
  <p>
    @if(showCountryBar) { Orders to <b>${{ country }}</b> are subject to
    <b>${{ vat }}%</b> VAT } @else{ }
  </p>
</section>

<section class="best-sellers" id="best-sellers-section">
  <h1>Best Sellers</h1>
  <hr />
  <div class="product-slider">
    <div class="container">
      <div class="product new">
        <div class="product-picture">
          <img
            width="154.062"
            height="154.062"
            src="images/vr1.webp"
            alt="product: Penom Case"
          />
        </div>
        <div class="product-info">
          <h5 class="categories">Headsets, Apple</h5>
          <h4 class="title">Apple Headset</h4>
          <h3 class="price">
            <span>US$ 450.00</span>
          </h3>
          <button>Add to bag</button>
        </div>
      </div>

      <div class="product new">
        <div class="product-picture">
          <img
            width="154.062"
            height="154.062"
            src="images/vr2.webp"
            alt="product: Noise Cancelling Headphone"
          />
        </div>
        <div class="product-info">
          <h5 class="categories">Headsets, PS</h5>
          <h4 class="title">Playstation Headset</h4>
          <h3 class="price">
            <span>US$ 399.99</span>
          </h3>
          <button>Add to bag</button>
        </div>
      </div>

      <div class="product">
        <div class="product-picture">
          <img
            width="154.062"
            height="154.062"
            src="images/vr3.webp"
            alt="product: Canon Digital SLR EOS Rebel T6"
          />
        </div>
        <div class="product-info">
          <h5 class="categories">Headsets, Oculus</h5>
          <h4 class="title">Oculus Headset</h4>
          <h3 class="price">
            <span class="discounted-price">US$ 349.99</span>
            <span class="original-price">US$ 419.99</span>
          </h3>
          <button>Add to bag</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="best-sellers">
  <h1>All Products</h1>
  <hr />
  <div class="product-slider" id="all-products">
    <div class="container">
      @for (product of products(); track product.id) {
      <div class="product">
        <div class="product-picture">
          <img
            [src]="product.image"
            [alt]="`product: ${product.title}`"
            loading="lazy"
            height="220"
            width="250"
          />
        </div>
        <div class="product-info">
          <h5 class="categories">{{ product.category }}</h5>
          <h4 class="title">
            {{ product.title }}
          </h4>
          <h3 class="price">
            <span>{{ product.price | currency }}</span>
          </h3>
          <button>Add to bag</button>
        </div>
      </div>
      } @empty {
      <p>Loading products...</p>
      }
    </div>
  </div>
</section>

<section class="newsletter" id="newsletter-section">
  <h3>Newsletter Signup</h3>
  <p>Subscribe now and don't miss a single deal!</p>
  <form>
    <input type="email" name="email" placeholder="Your email..." />
    <button type="submit">Subscribe</button>
  </form>
</section>

<footer>
  <div class="bottom-nav">
    <div class="container">
      <ul>
        <li class="list-title">Categories</li>
        <li><a href="#">Watches</a></li>
        <li><a href="#">Cameras</a></li>
        <li><a href="#">Phones</a></li>
        <li><a href="#">Tablets</a></li>
        <li><a href="#">Computers</a></li>
      </ul>

      <ul>
        <li class="list-title">About Us</li>
        <li><a href="#">Our Story</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Awards</a></li>
        <li><a href="#">Stores</a></li>
      </ul>

      <ul>
        <li class="list-title">Social Media</li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Linkedin</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Youtube</a></li>
      </ul>

      <ul>
        <li class="list-title">Customer Service</li>
        <li><a href="#">Live Chat</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Delivery & Returns</a></li>
        <li><a href="#">Finance</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright-text">2025 &copy; All Rights Reserved</div>
</footer>

<a href="#" id="open_preferences_center">Update cookies preferences</a>
